@import 'normalize.styl'
@import 'nib'
Indigo=#3f51b5;
IndigoLight=#c5cae9;
DarkGray=#454548;
GrayLight=#fafafa;
Gray=#f8f8f8;
Pink=#ff4081;
.container
	display flex
	display -webkit-flex
	flex-direction row
	justify-content space-between
	color blue
	border 1px solid @color
	flex-wrap wrap
	align-self baseline
	.columna1
	.columna2
	.columna3
		width 330px